.all-todo-list {
  border: 2px solid grey;
  width: 300px;
  margin: 0 auto;
  
}

.my-task {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.the-task {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
}

.pen-trash {
  width: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.btn-task {
  cursor: pointer;
}