

.todo-page {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-image: url('/public/fond-gris-peint.jpg');
}

.all-todo-list {
  width: 450px;
  margin: 0 auto;
  height: auto;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: #8ea2c6;
}

.add-a-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100px;

} 

.new-task-title {
  text-align: center;
}

.input-add-task {
  display: block;
  width: 293px;
  margin-bottom: 12px;
  height: 22px;
}

.btn-task {
  cursor: pointer;
  width: 300px;
  height: 22px;
  border-radius: 5px;
  background-color: #4F84C4;
  color: white;
}

.my-task {
  width: 400px;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  border: 1px solid grey;
  color: white;
  background-image: repeating-linear-gradient(45deg, rgba(33,33,33,0.06) 0px, rgba(33,33,33,0.06) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgb(33,33,33),transparent),linear-gradient(90deg, rgb(33,33,33),transparent),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  border-radius: 4px;

}

.the-task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-list-btn {
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;

}

.all-btn,
.todo-btn,
.done-btn,
.delete-btn {
  border-radius: 5px;
  color: white;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;

}

.done-btn {
  background-color: #00A170;
}

.todo-btn {
  background-color: #DD4124;
}

.all-btn {
  background-color: #4F84C4;
}


.the-task {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3px;
  margin-bottom: 3px;
}

.pen-trash {

  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: black;


}

/* Pour barré le task quand on le check */
.task-barré {
  text-decoration: line-through;
  color: red;
}

.hidden {
  display: none;
}

.normal-display {
  width: 100px;
  display: flex;
  justify-content: space-around;
  margin-left: 140px;
  margin-top: 3px;
  margin-bottom: 3px;

}

.delete-btns-div {
  display: flex;
  justify-content: space-around;
}

.delete-btn {
  background-color: #ed0000;
  width: 150px;
  height: 20px;
}