.marto-page {
  font-family: 'Roboto', sans-serif;
  font-family: 'Permanent Marker', cursive;
  border: 2px solid red;
  text-align: center;
  width: 600px;
}

.popup-content {
  background-color: #f0f0f0;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 8px;
}

.marto-scores {
  display: flex;
  justify-content: center;
}

.foudre-score {
  width: 70px;
}

.styled-score {
  font-family: 'Bungee Spice', sans-serif;
}