.marto-page {
  font-family: 'Permanent Marker', cursive;
  border: 2px solid red;
  text-align: center;
  width:100%;
}

.title-shifumi {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 30px;
}

.popup-content {
  background-color: #f0f0f0;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 8px;
}

.marto-scores {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.foudre-score {
  width: 70px;
}

.styled-score {
  font-family: 'Bungee Spice', sans-serif;
}

.players-choices {
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}

.versus-eclair {
  width: 200px;
}

.image-player {
  width: 250px;
  margin-left: 300px;
  border: none;
}

.image-computer {
  width: 250px;
  border: none;
}

/* Buttons styling */

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}